* {
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  text-align: center;
  overflow: hidden;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
.ctext {
  width: 100%;
  font-size: 0.4em;
  font-weight: bold;
  transition: 0s;
  text-rendering: optimizeLegibility;
}
.ctext:first-letter {
    text-transform: uppercase;
}
.cting {
  position: absolute;
  left: 50%;
  width: 0%;
}
.ting {
  border: black solid;
  font-size: 175%;
  border-radius: 640px;
  cursor: default;
  z-index: 20;
  position: relative;
  transition: background-color .2s;
}

#game {
  position: absolute;
  text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 640px;
  transition: 0s;
  width: 100%;
  height: 100%;
}

.cont {
  position: absolute;
  text-align: center;
}

#score {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
}

#scoreInner {
  width: 100%;
}

#scoreText {
  clear: both;
}

.uButtons {
  text-align: center;
  margin: 0;
  padding: 1px 12px;
  color: black;
  border: solid black;
  border-width: calc(1%);
  font-size: 75%;
  border-radius: 64px;
}

.uButtonsDisabled {
  background-color: #d5d5d5;
  background: linear-gradient(#eeeeee, #d5d5d5);
  opacity: 0.5;
}

.uButtonGrey {
  background-color: #d5d5d5;
  background: linear-gradient(#eee, #999);
}

.uButtonGrey:hover {
  background-color: #dfdfdf;
  background: linear-gradient(#fff, #aaa);
}

.uButtonGrey:active {
  background: linear-gradient(#ddd, #888);
}

.uButtonGreen {
  background: linear-gradient(#7e7, #191);
}

.uButtonGreen:hover {
  background: linear-gradient(#8f8, #2a2);
}

.uButtonGreen:active {
  background: linear-gradient(#6d6, #080);
}

.uButtonRed {
  background: linear-gradient(#e77, #911);
}

.uButtonRed:hover {
  background: linear-gradient(#f88, #a22);
}

.uButtonRed:active {
  background: linear-gradient(#d66, #800);
}

.uButtonLeft {
  border-radius: 320px 0px 0px 320px;
  margin-right: 0;
  border-right: 0;
}

.uButtonMid {
  border-radius: 0px;
  margin-left: 0;
  margin-right: 0;
  border-left: 0;
  border-right: 0;
}

.uButtonRight {
  border-radius: 0px 320px 320px 0px;
  margin-left: 0;
  border-left: 0;
}
.buttonYN {
  font-size:0.5em;
  width:30%;
  margin: 2%;
}
#pc {
  display: inline-block;
  width: 75%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#eee, #999);
  line-height: 100%;
  padding: 1% 0%;
}

#pa {
  position: absolute;
  top: 0px;
  width: 300%;
  height: 100%;
  left: -100%;
  transition: left .5s;
}

#pi {
  float: left;
  width: 33.333%;
  height: 100%;
  background: linear-gradient(#7e7, #191);
}

#pf {
  float: right;
  width: 33.333%;
  height: 100%;
  background: linear-gradient(#e77, #911);
}

#pt {
  position: absolute;
  top: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 2%;
}

.fsButton {
  position:absolute;
  box-sizing: border-box;
  margin-right: 0%;
  padding: 0 1%;
}
.fsd {
  transform: scale(1,0.8);
  transition: transform 0.1s;
  line-height: 70%;
  padding: 0;
  margin: 0;
}
.fsd:hover {
  transform: scale(1.05,.85);
  transition:0.2s;
  opacity:1;
}
.fsd:active {
  transform: scale(.95,.75);
  transition:0.05s;
}
.fsu {
  transform: scale(1.05,.85);
  transition: transform 0.1s;
  line-height: 70%;
  padding: 0;
  margin: 0;
}
.fsu:hover {
  transform: scale(1,0.8);
  transition:0.2s;
  opacity:1;
}
.fsu:active {
  transform: scale(.95,.75);
  transition:0.05s;
}

#set {
  position: absolute;
  line-height: 100%;
  margin: 1%;
  left: 0px;
  top: 0px;
  font-size: .5em;
  padding: 0.5% 3%;
}

.vImg {
  display: inline-block;
  margin-right: 8%;
  transform: scaleX(2);
}

.sliderCont {
  /* margin: 0; */
  background: linear-gradient(#ddd, #777);
  border: 1px solid #000;
  border-radius: 640px;
  clear: both;
  width: 96%;
  left: 2%;
  position: relative;
  font-size: 0.3em;
  /* overflow: visible; */
  /* height: 5%; */
  margin-bottom: 3%;
}

.sliderInner {
  position: absolute;
  border-radius: 64px;
  background: radial-gradient(farthest-side at 33% 33% , #fff, #333);
  border: 1px solid #000;
  top: -50%;
  left: 28.4%;
  width: 19%;
  height: 200%;
}

.noty {
  width: 90%;
  left: 5%;
  position: absolute;
  box-sizing:border-box;
  border: 2px solid hsl(0, 0%, 0%);
  border-radius: 10px;
  padding: 1%;
  background-color: hsla(34, 78%, 91%, 0.95);
  opacity: 0;
  transition: opacity .5s;
  font-size: 0.9em;
  padding-bottom: 2%;
}


.buttonClose {
  position: absolute;
  top: -10%;
  left: 91%;
  /* height: 30%; */
  /* width: 15%; */
  border: 2px solid hsl(0, 0%, 0%);
  font-weight: bold;
  padding: 0% 2.5%;
  /* line-height: 112%; */
  font-size: 0.4em;
  border-radius: 640px;
  margin: 0;
}

.loadC {
  width: 90%;
  position: relative;
  margin: 2px auto;
  border-radius: 24px;
  border: 2px solid hsl(0, 0%, 50%);
  text-align: left;
}

.loadPi {
  position: relative;
  border-radius: inherit;
  height: 24px;
  width: 0%;
  background: linear-gradient(hsl(120, 100%, 80%), hsl(120, 100%, 30%));
}

.loadPc {
  border-radius: inherit;
  position: absolute;
  width: 100%;
  text-align: center;
  color: hsl(0, 0%, 50%);
  font-weight: bold;
  font-size: 125%;
  line-height: 24px;
  top: 0px;
}

.loadVV {
  position: relative;
  float: none;
  animation: Vom .5s ease-in-out alternate infinite;
  width: 25%;
  background: radial-gradient(farthest-side at 50% 50%, hsl(120, 100%, 50%), hsla(0, 100%, 50%, 0));
}

@keyframes Vom {
  from {
    left: 0%;
  }

  to {
    left: 75%;
  }
}
